body{
    margin: 0%;
}
#first-header{
    color: blue;
    text-align: center;
    font-size: 65px;
    font-family: 'Hanalei Fill', cursive;
font-family: 'Lobster', cursive;
font-family: 'Russo One', sans-serif;
}

.head-font{
    font-family: 'Hanalei Fill', cursive;
    font-size: 30px;
}
.paragraph-style{
        font-family: 'Hanalei Fill', cursive;
    font-family: 'Lobster', cursive;
    text-align: justify;
}
.head3-style{
    font-family: 'Hanalei Fill', cursive;
            font-family: 'Lobster', cursive;
}
.colorful-name{
    color: rgb(255, 66, 19);
    font-family: 'Titan One', cursive;
}
.new-font{
    font-family: 'Titan One', cursive;
}
.first-div{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    
}
.first-div img{
    width: 100%;
   margin-left: 40%; 
}
.first-benar{
    background-image: url(images/top-banner.png);
    
}
section{
    height: 450px;
    background-repeat: no-repeat;
    
    margin-top: 100px;
}
#section1{
    box-shadow: 10px 20px 60px rgb(38, 76, 190);
}
.work-button{
    text-decoration: none;
    background-image: linear-gradient(-45deg, rgb(255, 66, 19), rgb(246, 160, 138));
    border-radius: 5px;
    padding: 14px 25px;
    color: snow;
    font-weight: 700; 
}
  #work-button{
      text-align: center;
      margin-top: 40px;
  }  

  .second-div{
    width: 30%;
    float: left;
    margin-left: 10%;
    padding-left: 3%;
     
  }
  .second-div img{
      width: 100%;
  }
  #section2{
    background-image: url(images/dream-bg.png);
    background-position: right;
    box-shadow: 1px 10px 40px rgb(167, 187, 248);
  }
   #second-div{
       text-align: right;
       margin-top: 50px;
 }
#parageraph-style2{
    text-align: justify;
    text-decoration: none;
}
